/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
    height: 100%;
    margin: 0;
    background: #0c192c;
    font-family: 'Rubik', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background: #4d4d4d;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 1000px;
  padding: 1rem;
  z-index: 1;
  margin: 0 auto;
}


.form-container {
  width: 100%;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
}

input:focus {
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  color: black;
  margin-top: 1.5rem;
  text-align: center;
}

.result a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.result a:hover {
  text-decoration: underline;
}

/* Styling for the summary section */
.summary-container {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  overflow-y: auto; /* Enable scroll in case text is too long */
}

.summary-container h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 1rem;
}

.summary-container p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Ensure body content takes full height for scrolling */
html,
body {
  height: 100%;
}
